* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  font-family: "Open Sans", sans-serif;
  --primary-color: rgb(241, 99, 99);
  --nav-background-one: rgb(246, 211, 211);
  --nav-background-two: rgb(205, 229, 234);
  --link-color: rgb(255, 255, 255);
  --post-font-color: rgb(42, 42, 42);
  --post-background-color: rgb(235, 242, 245);
  --scroll-bar-color: rgb(140, 190, 205);
  --scroll-bar-background: rgb(226, 224, 224);
  --scroll-bar-hover-color: rgb(153, 153, 153);
}
html {
  font-size: 62.5%;
}
#outlet {
  height: 70vh;
}

/* HEADER */
.header {
  color: var(--primary-color);
  font-size: 2rem;
}
.header h1 {
  letter-spacing: 0.8rem;
}
.header__container {
  display: flex;
  gap: 20rem;
  justify-content: space-around;
  align-items: center;
}
.image__container {
  width: 25rem;
  height: 16.6rem;
}
.image__container-img {
  width: 100%;
  border-radius: 0.5rem;
}
.icon__container {
  width: 8rem;
  height: 8rem;
}
.icon {
  width: 100%;
  opacity: 0.95;
}
.nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  background-image: linear-gradient(
    to right,
    var(--nav-background-two),
    var(--nav-background-one)
  );
}
.nav__link {
  --button-color: var(--primary-color);
  --button-background: var(--link-color);

  width: 10rem;
  height: 4rem;
  color: var(--button-color);
  background-color: var(--button-background);
  border: none;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link:hover {
  --button-color: var(--link-color);
  --button-background: var(--primary-color);
}

/* POSTS */
.post {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  padding: 1rem;
  color: var(--post-font-color);
  background-color: var(--post-background-color);
  border-radius: 0.5rem;
}

.list {
  overflow-y: scroll;
  height: 65vh;
  position: relative;
}
.list__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.list__title,
.form__heading {
  padding-top: 4rem;
}
.list__results {
  width: 15rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid var(--primary-color);
}
.list__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 300;
}
.list__item:hover {
  cursor: default;
  background-color: var(--link-color);
  padding: 0.3rem;
  font-weight: bolder;
  border-radius: 1rem;
}
.list::-webkit-scrollbar {
  width: 1.5rem;
  height: 1rem;
  background-color: var(--scroll-bar-background);
}
.list::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-hover-color);
}
.selected {
  background-color: var(--link-color);
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.3rem;
}
*/
/* DETAILS */
.form {
  padding: 1rem;
}
.form__heading {
  padding-left: 5rem;
}
.form__fieldset {
  width: 45vw;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.form__textarea {
  border: none;
  width: 40rem;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
}
.form__group {
  display: flex;
  align-items: center;
}
.form__label {
  width: 10rem;
  text-align: left;
}
.form__group--buttons {
  width: 40rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: auto;
  margin-left: 10rem;
}

@media (min-width: 1600px) {
  .list {
    height: 80vh;
  }
}
